<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home - Antoflix</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel = "stylesheet" th:href="@{/css/dashboard-style.css}">

    <!-- Default favicon-->
    <link rel="icon" type="image/x-icon" th:href = "@{images/favicon_ico}">

    <!--Png icons for dif resolutions-->
    <link rel="icon" type="image/png" sizes="32x32" th:href = "@{images/favicon-32x32.png}">
    <link rel="icon" type="image/png" size="16x16" th:href = "@{images/favicon-16x16.png}">

    <!-- Apple touch Icon-->
    <link rel="apple-touch-icon" sizes="180x180" th:href = "@{images/apple-touch-icon.png}">

    <!-- Android Chrome Icons -->
    <link rel="icon" type="image/png" sizes="192x192" th:href = "@{images/android-chrome-192x192.png}">
    <link rel="icon" type="image/png" sizes="512x512" th:href = "@{images/android-chrome-512x512.png}">

    <!-- Manifest file -->
    <link rel="manifest" th:href = "@{images/site.webmanifest}">

    <script th:src = "@{/js/dashboard-script.js}" defer></script>
    <script th:src="@{/js/dashboard-modal.js}" defer></script>
</head>
<body>
<header class = "header" id="header">
    <div class = "logo">
        <h2> Anto<span class = "flix">flix</span></h2>
    </div>
    <div class = "main-nav">
        <ul class = "main-header">

            <li id="menu-item-0" class="menu-item-0">
                <a th:href="@{/dashboard}"><strong>Home</strong></a>
            </li>

            <li id="menu-item-1" class="menu-item-1">
                <a th:href="@{/movies}"><strong>Movies</strong></a>
            </li>

            <li id="menu-item-2" class="menu-item-2">
                <a th:href="@{/series}"><strong>Series</strong></a>
            </li>

            <div class = "dropdown">
                <li id="menu-item-3" class="menu-item-3">
                    <a><strong>Genres</strong><i class="fa-solid fa-chevron-down"></i></a>
                    <ul class = "dropdown-menu">
                        <li><a th:href="@{/genres/{genreName}(genreName='Action')}">Action</a></li>
                        <li><a th:href="@{/genres/{genreName}(genreName='Fantasy')}">Fantasy</a></li>
                        <li><a th:href="@{/genres/{genreName}(genreName='Horror')}">Horror</a></li>
                        <li><a th:href="@{/genres/{genreName}(genreName='Comedy')}">Comedy</a></li>
                        <li><a th:href="@{/genres/{genreName}(genreName='Musical')}">Musical</a></li>
                        <li><a th:href="@{/genres/{genreName}(genreName='Drama')}">Drama</a></li>
                        <li><a th:href="@{/genres/{genreName}(genreName='Adventure')}">Adventure</a></li>
                        <li><a th:href="@{/genres/{genreName}(genreName='SF')}">SF</a></li>
                        <li><a th:href="@{/genres/{genreName}(genreName='Kids')}">Kids</a></li>
                        <li><a th:href="@{/genres/{genreName}(genreName='Superhero')}">Superhero</a></li>
                        <li><a th:href="@{/genres/{genreName}(genreName='Animation')}">Animation</a></li>
                        <li><a th:href="@{/genres/{genreName}(genreName='Anime')}">Anime</a></li>
                        <li><a th:href="@{/genres/{genreName}(genreName='Zombie Horror')}">Zombie Horror</a></li>
                    </ul>
                </li>
            </div>

            <li id="menu-item-5" class="menu-item-5">
                <a href="#" id="new-added-link"><strong>New Releases</strong></a>
            </li>

            <li id="menu-item-6" class="menu-item-6">
                <a th:href="@{/watchlist}"><strong>My Watchlist</strong></a>
            </li>
        </ul>
    </div>

    <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" id="search-input" class="search-input" placeholder="Titles">
    </div>

    <div class = "profile">
        <div class="profile-icon" id="profileIcon">
            <i class="fa-solid fa-user"></i>
    </div>

        <div class="profile-dropdown" id="profileDropdown">
            <form th:action="@{/logout}" method="post">
                <a th:href="@{settings}">Account</a>
                <button type="submit">Logout</button>

            </form>
        </div>
    </div>
</header>

<div class="homepage-box">
    <div class = "content">
        <p class="dashboard-intro">Explore a multitude of movies and TV shows in just a click away! Watch what your heart desires,
            <br> don't let anything stop you from doing what you love!
        </p>

        <div class="movie-grid">
            <div class="movie-item" id="movie-item1"
                 data-type="movie"
                 data-image= "images/Chronicles.png"
                 data-title="Chronicles"
                 data-description="Kyle, a man from the future travels through space and time ending up in 2024 trying to save the planet from an invasive alien creature what keeps reproducing rapidly. "
                 data-genre="Action, Kids, Sci-Fi, Fantasy"
                 data-time=" 25 May 2022">
                <img th:src="@{/images/Chronicles.png}" alt="Movie 5 Poster" class="movie-poster2">
                <p>Chronicles</p>
            </div>

            <div class="movie-item" id="movie-item2"
                 data-type="movie"
                 data-image= "images/SpaceBattle.png"
                 data-title="Star Wars - Return of the jedi"
                 data-description="Han Solo rescued from Jabba the Hutt, the Rebels attack second Death Star. Luke Skywalker confronts Darth Vader and the Emperor. I am a Jedi, like my father before me."
                 data-genre="Sci-Fi, Fantasy, Adventure, Action"
                 data-time=" 25 May 1983">
                <img th:src="@{/images/SpaceBattle.png}" alt="Movie 3 Poster" class="movie-poster">
                <p>Space Battle</p>
            </div>

            <div class="movie-item" id="movie-item3"
                 data-type="movie"
                 data-image= "images/MysticDivide.png"
                 data-title="Mystic Divide"
                 data-description="Female protagonist trying to prove the kingdom that not only men can fight."
                 data-genre="Sci-Fi, Action, Adventure, Medieval"
                 data-time=" 10 December 2018">
                <img th:src="@{/images/MysticDivide.png}" alt="Movie 4 Poster" class="movie-poster">
                <p>Mystic Divide</p>
            </div>

            <div class="movie-item" id="movie-item4"
                data-type="movie"
                data-image= "images/Inception.png"
                data-title="Inception"
                data-description="A skilled infiltrator uses shared dreams to steal secrets from deep within the mind. But when one job unravels reality itself, he must face his own buried truths before the dream becomes a nightmare."
                data-genre="Sci-Fi"
                data-time=" 10 August 2014">
                <img th:src="@{/images/Inception.png}" alt="Movie 1 Poster" class="movie-poster">
                <p>Inception</p>
            </div>

            <div class="movie-item" id="movie-item5"
                 data-type="movie"
                 data-image= "images/LunarOdyssey.png"
                 data-title="Lunar Odyssey"
                 data-description="A mysterious colony of aliens have to deal with abnormal events coming from their blue moon."
                 data-genre="Sci-Fi, Fantasy"
                 data-time=" 4 February 2015">
                <img th:src="@{/images/LunarOdyssey.png}" alt="Movie 2 Poster" class="movie-poster3">
                <p>Lunar Odyssey</p>
            </div>

            <div class="movie-item" id="movie-item6"
                 data-type="movie"
                 data-image= "images/MissionRuby.png"
                 data-title="Mission Ruby"
                 data-description="A secret agent is being tasked with a top secret mission which turns out being more difficult than anticipated uncovering the truth about the agency he's working for and mythical creatures."
                 data-genre="Drama, Adventure, Sci-Fi"
                 data-time=" 19 October 2018">
                <img th:src="@{/images/MissionRuby.png}" alt="Movie 5 Poster" class="movie-poster2">
                <p>Mission Ruby</p>

        </div>
    </div>
</div>

    <div class="modal hidden" id="movie-modal">
        <div class="modal-content">
            <span id="close-movie-modal" class="close-btn">&times;</span>

            <button class="play-button"><i class="fa-solid fa-play"></i> Play </button>
            <div class="interaction">
                <i class="fa-solid fa-plus"></i>
            </div>

            <div class="modal-image-container">
                <img id="movie-image" src="#" alt="Movie Poster" class="modal-movie-image">
                <div class="image-blur-overlay"></div>
            </div>

            <h3 id="movie-title">Movie Title</h3>
            <p id="movie-description">This is a short description of the movie...</p>

            <p><strong>Genre:</strong> <span id="movie-genre" class="genre-tags-container">Action</span></p>

            <p><strong>Release Date:</strong><span id="movie-time"> 5 May 1999</span></p>
        </div>
    </div>

    <div class="modal hidden" id="series-modal">
        <div class="modal-content">
            <span id="close-series-modal" class="close-btn">&times;</span>

            <button class="play-button"><i class="fa-solid fa-play"></i> Play </button>
            <div class="interaction">
                <i class="fa-solid fa-plus"></i>
            </div>

            <div class="modal-image-container">
                <img id="series-image" src="#" alt="Series Poster" class="modal-movie-image">
                <div class="image-blur-overlay"></div>
            </div>

            <h3 id="series-title">Series Title</h3>
            <p id="series-description">This is a short description of the series...</p>

            <p><strong>Genre:</strong> <span id="series-genre" class="genre-tags-container">Action</span></p>
            <p><strong>Release Date:</strong><span id="series-time"> 5 May 1999</span></p>

            <div class="season-selector mt-4">
                <label for="season-select" class="block text-sm font-medium text-gray-200 mb-1">Select Season:</label>
                <select id="season-select" class="bg-gray-800 text-white p-2 rounded w-full">

            </div>

<!--            <div id="episode-container" class="mt-4">-->
<!--                <h4 class="text-lg font-semibold text-gray-200 mb-2">Episodes</h4>-->
<!--                <ul id="episode-list" class="list-disc list-inside text-gray-300">-->
<!--                </ul>-->
<!--            </div>-->

        </div>
    </div>

</body>
</html>