<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antoflix - Watch your favorite movies!</title>
</head>
<body>
<h1>Movies in <span th:text="${genreName}"></span></h1>

<ul>
    <li th:each="movie : ${movies}">
        <a th:href="@{/movies/{id}(id=${movie.id})}" th:text="${movie.title}"></a>
    </li>
</ul>

<a th:href="@{/}">Back to Homepage</a>
</body>
</html>